name: Run Terraform

on:
  workflow_call:
    inputs:
      workload_identity_provider:
        required: true
        type: string
      service_account:
        required: true
        type: string
      working_directory:
        required: true
        type: string
      runner:
        required: true
        type: string
      project_id:
        type: string
      environment:
        type: string
      kubernetes_cluster:
        type: string
      terraform_workspace:
        type: string
      terraform_options:
        type: string

jobs:
  terraform_check:
    name: Terraform Validate
    runs-on: ${{ inputs.runner }}

    # Use the Bash shell regardless whether the GitHub Actions runner is ubuntu-latest, macos-latest, or windows-latest
    defaults:
      run:
        shell: bash

    steps:
    # Checkout the repository to the GitHub Actions runner
    - name: Checkout
      uses: actions/checkout@v3

    # Install the latest version of Terraform CLI and configure the Terraform CLI configuration file with a Terraform Cloud user API token
    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v2
      with:
        terraform_wrapper: false

    # Initialize a new or existing Terraform working directory by creating initial files, loading any remote state, downloading modules, etc.
    - name: Terraform Init
      working-directory: ${{ inputs.working_directory }}
      run: terraform init -backend=false

    - name: Terraform Validate
      working-directory: ${{ inputs.working_directory }}
      run: |
        echo 'Run validate' | tee $GITHUB_STEP_SUMMARY
        terraform validate -no-color | tee -a $GITHUB_STEP_SUMMARY

    # Checks that all Terraform configuration files adhere to a canonical format
    - name: Terraform Format
      working-directory: ${{ inputs.working_directory }}
      run: |
        echo 'Run format check' | tee -a $GITHUB_STEP_SUMMARY
        terraform fmt -check -no-color || { echo '
        FAILURE! The above files are not properly formatted. 
        Run `terraform fmt` in ${{matrix.directory}}, commit the changed files and push to fix the issue' | tee -a $GITHUB_STEP_SUMMARY ; exit 1; }

  terraform_plan:
    needs: terraform_check
    name: Terraform Plan
    runs-on: ${{ inputs.runner }}

    # Use the Bash shell regardless whether the GitHub Actions runner is ubuntu-latest, macos-latest, or windows-latest
    defaults:
      run:
        shell: bash

    steps:
    # Checkout the repository to the GitHub Actions runner
    - name: Checkout
      uses: actions/checkout@v3

    # Install the latest version of Terraform CLI and configure the Terraform CLI configuration file with a Terraform Cloud user API token
    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v2
      with:
        terraform_wrapper: false

    - name: Authenticate with Google Cloud
      uses: google-github-actions/auth@v0
      with:
        workload_identity_provider: ${{ inputs.workload_identity_provider }}
        service_account: ${{ inputs.service_account }}
        project_id: ${{ inputs.project_id }}

    - name: Authenticate with Kubernetes
      if: inputs.kubernetes_cluster != ''
      run: gcloud container hub memberships get-credentials ${{ inputs.kubernetes_cluster }} --verbosity debug

    # Initialize a new or existing Terraform working directory by creating initial files, loading any remote state, downloading modules, etc.
    - name: Terraform Init
      working-directory: ${{ inputs.working_directory }}
      run: terraform init

    - name: Terraform Plan
      working-directory: ${{ inputs.working_directory }}
      run: |
        if [ "${{inputs.terraform_workspace}}" != "" ]; then
          terraform workspace select ${{inputs.terraform_workspace}}
        fi
        echo '```' >> $GITHUB_STEP_SUMMARY
        terraform plan ${{inputs.terraform_options}} -input=false -no-color | grep -v 'Refreshing state...' | tee -a $GITHUB_STEP_SUMMARY
        echo '```' >> $GITHUB_STEP_SUMMARY
  
  run_terraform:
    if: github.ref == 'refs/heads/main'
    needs: terraform_plan
    name: Terraform Apply
    runs-on: ${{ inputs.runner }}
    environment: ${{ inputs.environment }}

    # Use the Bash shell regardless whether the GitHub Actions runner is ubuntu-latest, macos-latest, or windows-latest
    defaults:
      run:
        shell: bash

    steps:
    # Checkout the repository to the GitHub Actions runner
    - name: Checkout
      uses: actions/checkout@v3

    # Install the latest version of Terraform CLI and configure the Terraform CLI configuration file with a Terraform Cloud user API token
    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v2
      with:
        terraform_wrapper: false

    - name: Authenticate with Google Cloud
      uses: google-github-actions/auth@v0
      with:
        workload_identity_provider: ${{ inputs.workload_identity_provider }}
        service_account: ${{ inputs.service_account }}
        project_id: ${{ inputs.project_id }}

    - name: Authenticate with Kubernetes
      if: inputs.kubernetes_cluster != ''
      run: gcloud container hub memberships get-credentials ${{ inputs.kubernetes_cluster }} --verbosity debug

    # Initialize a new or existing Terraform working directory by creating initial files, loading any remote state, downloading modules, etc.
    - name: Terraform Init
      working-directory: ${{ inputs.working_directory }}
      run: terraform init

    - name: Run Terraform
      working-directory: ${{ inputs.working_directory }}
      run: |
        if [ "${{inputs.terraform_workspace}}" != "" ]; then
          terraform workspace select ${{inputs.terraform_workspace}}
        fi
        terraform apply ${{inputs.terraform_options}} -input=false -auto-approve
