# Reusable workflow: Validate and push synthetic monitoring config
#
# Usage example:
#
#name: Validate Synthetic Monitoring Config
#
#on:
#  push:
#    branches:
#      - main
#  pull_request:
#
#jobs:
#  call-synthetic-monitoring:
#    permissions:
#      contents: read
#      pull-requests: write
#      id-token: write
#    uses: kartverket/github-workflows/.github/workflows/synthetic-monitoring.yaml@<release tag>

name: Synthetic Monitoring Reusable Workflow

on:
  workflow_call:

jobs:
  validate:
    runs-on: ubuntu-latest
    name: Validate config
    permissions:
      id-token: write # Needed for OIDC token for octo-sts
      contents: read
    steps:
      - name: Checkout repository
        # actions/checkout@v6.0.1 (SHA: 8e8c483db84b4bee98b60c0593521ed34d9990e8)
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
        with:
          persist-credentials: false

      - name: Set repo name variable
        id: vars
        run: echo "REPO_NAME=${GITHUB_REPOSITORY##*/}" >> "$GITHUB_OUTPUT"

      - name: Fetch octo-sts token for blackbox-exporter repo
        # octo-sts/action@v1.1.1 (SHA: f603d3be9d8dd9871a265776e625a27b00effe05)
        uses: octo-sts/action@f603d3be9d8dd9871a265776e625a27b00effe05
        id: octo-sts
        with:
          scope: kartverket/blackbox-exporter
          identity: ${{ steps.vars.outputs.REPO_NAME }}

      - name: Checkout validation schema from blackbox-exporter repo
        # actions/checkout@v6.0.1 (SHA: 8e8c483db84b4bee98b60c0593521ed34d9990e8)
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
        with:
          sparse-checkout: |
            configs/schema.yaml
          path: schema
          repository: kartverket/blackbox-exporter
          token: ${{ steps.octo-sts.outputs.token }}
          persist-credentials: false

      - name: Validate config with schema
        # nrkno/yaml-schema-validator-github-action@v6.3.0 (SHA: ee8c3b6b405672187eac7cbf2b1c870344661169)
        uses: nrkno/yaml-schema-validator-github-action@ee8c3b6b405672187eac7cbf2b1c870344661169
        with:
          schema: schema/configs/schema.yaml
          target: synthetic-monitoring.yaml

      - name: Upload validated config as artifact
        if: success() # Only run if previous steps succeeded
        # actions/upload-artifact@v6.0.0 (SHA: b7c566a772e6b6bfb58ed0dc250532a479d7789f)
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f
        with:
          name: synthetic-monitoring-config
          path: synthetic-monitoring.yaml
          retention-days: 2

  export-to-blackbox:
    if: github.event_name == 'push' && github.ref == github.event.repository.default_branch
    needs: validate
    runs-on: ubuntu-latest
    name: Export config to blackbox-exporter
    permissions:
      id-token: write # Needed for OIDC token for octo-sts
    steps:
      - name: Set repo name variable
        id: vars
        run: echo "REPO_NAME=${GITHUB_REPOSITORY##*/}" >> "$GITHUB_OUTPUT"

      - name: Download validated config artifact
        # actions/download-artifact@v7.0.0 (SHA: 37930b1c2abaa49bbe596cd826c3c89aef350131)
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131
        with:
          name: synthetic-monitoring-config

      - name: Fetch octo-sts token for blackbox-exporter
        # octo-sts/action@v1.1.1 (SHA: f603d3be9d8dd9871a265776e625a27b00effe05)
        uses: octo-sts/action@f603d3be9d8dd9871a265776e625a27b00effe05
        id: octo-sts
        with:
          scope: kartverket/blackbox-exporter
          identity: ${{ steps.vars.outputs.REPO_NAME }}

      - name: Checkout blackbox-exporter repo
        # actions/checkout@v6.0.1 (SHA: 8e8c483db84b4bee98b60c0593521ed34d9990e8)
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
        with:
          repository: kartverket/blackbox-exporter
          token: ${{ steps.octo-sts.outputs.token }}
          path: blackbox-exporter
          persist-credentials: false

      - name: Copy config to blackbox-exporter
        run: |
          cp synthetic-monitoring.yaml "blackbox-exporter/configs/http_2xx_get_10s/${REPO_NAME}.yaml"
        env:
          REPO_NAME: ${{ steps.vars.outputs.REPO_NAME }}

      - name: Create PR to kartverket/blackbox-exporter
        # peter-evans/create-pull-request@v8.1.0 (SHA: c0f553fe549906ede9cf27b5156039d195d2ece0)
        uses: peter-evans/create-pull-request@c0f553fe549906ede9cf27b5156039d195d2ece0
        with:
          token: ${{ steps.octo-sts.outputs.token }}
          path: blackbox-exporter
          title: Update synthetic monitoring config for ${{ steps.vars.outputs.REPO_NAME }}
          body: Update configs from ${{ github.repository }}.
          commit-message: Update configs/http_2xx_get_10s/${{ steps.vars.outputs.REPO_NAME }}.yaml from ${{ github.repository }}
          branch: update-config-${{ steps.vars.outputs.REPO_NAME }}
          base: main
          add-paths: configs/http_2xx_get_10s/${{ steps.vars.outputs.REPO_NAME }}.yaml
          delete-branch: true
